html {
    margin: 0 auto;
    max-width: 800px;
}

body {
    font-family: sans-serif;
    padding: .5em;
}

h1 {
    text-align: center;
    border-bottom: 5px double grey;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid darkgrey;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #ddd;
}

table.accounts col.transfer {
    text-align: center;
}

table.accounts td > a {
    font-variant: small-caps;
}

table td.centered {
    text-align: center;
}

table td.number {
    text-align: right;
    font-family: monospace, monospace; /* Hack to prevent browser default size reduction of monospace font */
    font-size:1em;
}

table td.mark {
    background-color:rgba(255,0,0,0.1);
}

a.transfer-btn {
    background-color:rgba(224,32,0,0.4);
    font-weight: bold;
    border: 2px outset rgb(224,32,0);
    text-decoration: none;
    border-radius: 3px;
}

table td.even_until {
    text-align: center;
}

table.history p {
    margin:0;
}
table.history p.linked-credit {
    font-size: smaller;
}

dl dd + dt {
    border-top: 1px solid lightgrey;
    margin-top: 1em;
}

select {
    border:none;
    background-color:transparent;
}

.help {
    color: lightgrey;
    font-size: .8em;
}

img.icon {
    vertical-align:middle;
    height: 1.2em;
}

.targettable { display:none }
.targettable:target { display: block; }

#bottommenu {
    font-size:smaller;
    background-color: #eee;
    border-top: 5px double grey;
    text-align:center;
}

#footer {
    font-size:smaller;
    color: darkgrey;
    text-align: center;
}
